* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f3fc;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
}

.container {
    display: flex;
    flex-direction: column;
}

.container .tickbox1 {
    gap: 20px;
    margin-bottom: 60px;
}

.row1 {
    width: 550px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.cross img {
    position: absolute;
    top: 12px;
    right: 7px;
    width: 20px;
}

.row1 p {
    position: absolute;
    top: 13px;
    left: 35px;
}

.row1 .ttt img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    left: 7px;
}

.row2 {
    width: 550px;
    height: 45px;
    background-color: #151726;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    position: relative;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.cross2 img {
    position: absolute;
    top: 12px;
    right: 7px;
    width: 20px;
}

.row2 .iii img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    left: 7px;
}

.row2 p {
    position: absolute;
    top: 13px;
    left: 35px;
}

.tickbox1 {
    margin-bottom: 20px;
}
.container .tickbox2 {
    gap: 20px;
    margin-bottom: 60px;
}
.row3 {
    width: 550px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    position: relative;
    border-radius: 20px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.row3 .ccc img {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 12px;
    left: 10px;
}

.row3 p {
    position: absolute;
    top: 11px;
    left: 35px;
}

.cross img {
    position: absolute;
    top: 10px;
    right: 13px;
    width: 20px;
}

.row4 {
    width: 550px;
    height: 40px;
    background-color: #151726;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    position: relative;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.row4 .kkk img {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 12px;
    left: 10px;
}

.row4 p {
    position: absolute;
    top: 11px;
    left: 35px;
}

.cross img {
    position: absolute;
    top: 10px;
    right: 13px;
    width: 20px;
}

.tickbox2 {
    margin-bottom: 20px;
}

.row5 {
    width: 550px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 10px;
    text-align: center;
}

.row5 .sss img {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 13px;
    left: 140px;
}

.row5 p {
    position: absolute;
    top: 13px;
    left: 165px;
}

.row6 {
    width: 550px;
    height: 45px;
    background-color: #151726;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 10px;
    text-align: center;
}

.row6 .aaa img {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 13px;
    left: 140px;
}

.row6 p {
    position: absolute;
    top: 13px;
    left: 165px;
}